/* CSS LOADING */

.ws-wating {
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999999;
}

.ws-wating-content {
    position: absolute;
    top: calc(50% - 30px);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
    height: 60px;
    background-color: #0075ff;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-align-items: center;
    align-items: center;
}

.ws-wating-load {
    position: absolute;
    top: 20px;
    width: 100%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: aniWaiting 1.2s linear infinite;
    animation: aniWaiting 1.2s linear infinite;
}

.ws-wating-load:before {
    content: "";
    width: 10px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.ws-wating-text {
    font-size: 11px;
    color: #FFF;
    text-align: center;
}

.ws-wating-text p {
    margin: 0;
    line-height: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 50%;
}

@-webkit-keyframes aniWaiting {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes aniWaiting {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* END CSS LOADING */